# BACKEND
backend/node_modules

#FRONTEND
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/build
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

#MOBILE
mobile/.DS_Store
mobile/build
mobile/*.pbxuser
mobile/!default.pbxuser
mobile/*.mode1v3
mobile/!default.mode1v3
mobile/*.mode2v3
mobile/!default.mode2v3
mobile/*.perspectivev3
mobile/!default.perspectivev3
mobile/xcuserdata
mobile/*.xccheckout
mobile/*.moved-aside
mobile/DerivedData
mobile/*.hmap
mobile/*.ipa
mobile/*.xcuserstate
mobile/build
mobile/.idea
mobile/.gradle
mobile/*.iml
mobile/node_modules
mobile/npm-debug.log
mobile/yarn-error.log
mobile/buck-out/
mobile/\.buckd/
mobile/*.keystore
mobile/!debug.keystore
mobile/*.jsbundle
mobile/ios/Pods/